@*@using MVCWidoutEF.Models
@model String
@{
    String str = ViewData.ToString();

    ViewBag.Title = "Get Details";
    AjaxOptions objAjxOption = new AjaxOptions()
    {
        UpdateTargetId = "StudentDetails"
    };


}*@
@*<p>
    @Html.ActionLink("Add Student", "Create");
</p>*@
@*<script type="text/javascript">
   
   
</script>*@
@*<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("City")
            </th>
            <th>
                @Html.DisplayName("Address")
            </th>
        </tr>
    </thead>
    <tbody id="StudentDetails">
        @Html.Action("GetData");
    </tbody>
    
</table>*@
